/* General Styles */
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background-color: rgba(245, 187, 219, 0.8);
  padding: 0;
  color: #f68cd6;
}
.smaller-gif {
  width: 250px; /* Set desired width */
  height: 250px; /* Set desired height */
}

.navbar-expand-lg bg-body-tertiary{
  background-color: #f68cd6;
}

.container-fluid{
  background-color: #ef9dd7;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
}

h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.enterbutton{
  color: #000000;
  background-color: rgb(237, 163, 231);
  border: 10px solid rgba(245, 187, 219, 0.8); /* Add a border */
  width: 150px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */

}

.dog-image {
  width: 100%; /* Image scales to fit container width */
  height: auto;  /* Maintains aspect ratio */
  object-fit: cover; /* Crops image to fit container while maintaining ratio */
}

.smaller-gif {
  width: 200px; /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
}
